<div id="table-nav-tabs">
    <ul class="nav nav-tabs">
        <li class="{{#if active.apple}}active{{/if}} index"><a href="{{id}}">Home</a></li>
        <li class="{{#if active.orange}}active{{/if}} compose"><a href="{{id}}">Compose</a></li>
        <li class="{{#if active.mango}}active{{/if}} peers"><a href="{{id}}">Find Peers</a></li>
        <li class="{{#if active.pineapple}}active{{/if}} meettokushu"><a href="{{id}}">Meet ADK Team</a></li>
    </ul>
</div>