 <div class="container">
            <div class="ADK-desktop-page">
                <div class="ADK-separator-3"></div>
                
                <h1 class="ADK-attacher-1">ADK Team</h1>

                <div class="carousel">
                    <div class="carousel-item">
                        <a href="https://www.linkedin.com/in/serenamallavarapu/" target="_blank">
                            <h2>Serena</h2>
                            <img class="responsive-img" src="https://lorempixel.com/480/320/nature/1" alt="Serena">
                        </a>
                        <p>Best Story: Hand-delivered a bottle of Salt Lick BBQ sauce to the King of Norway.</p>
                    </div>

                    <div class="carousel-item">
                        <a href="https://www.linkedin.com/in/tamami-polk-566b75/" target="_blank">
                            <h2>Tamami</h2>
                            <img class="responsive-img" src="https://lorempixel.com/480/320/nature/1" alt="Tamami">
                        </a>
                        <p>Best Story: </p>
                    </div>

                    <div class="carousel-item">
                        <a href="https://www.linkedin.com/in/brian-lawrence-17a7049a/" target="_blank">
                            <h2>Angel</h2>
                            <img class="responsive-img" src="https://lorempixel.com/480/320/nature/1" alt="Angel, Madison">
                        </a>
                        <p>Best Story: A professional death metal guitarist/butcher, now rocking web applications.</p>
                    </div>

                    <div class="carousel-item">
                        <a href="https://www.linkedin.com/in/brian-lawrence-17a7049a/" target="_blank">
                            <h2>Madison</h2>
                            <img class="responsive-img" src="https://lorempixel.com/480/320/nature/1" alt="Angel, Madison">
                        </a>
                        <p>Best Story: A professional death metal guitarist/butcher, now rocking web applications.</p>
                    </div>

                    <div class="carousel-item">
                        <a href="https://www.linkedin.com/in/bernard-dzekashu/" target="_blank">
                            <h2>Bernard</h2>
                            <img class="responsive-img" src="https://lorempixel.com/480/320/nature/1" alt="Bernard">
                        </a>
                        <p>Best Story: </p>
                    </div>
                </div>
            </div>

            <div class="ADK-mobile-page">
                <div class="row">
                    <div class="col s10 offset-s1 m8 offset-m2 l7 offset-l4 xl5 offset-xl4">
                        <div class="row">
                            <div class="col s10 offset-s1">
                                <h1 class="ADK-attacher-1">ADK Team</h1>
                                
                                <div class="card" id="card0">
                                    <div class="card-image">
                                        <a href="https://www.linkedin.com/in/serenamallavarapu/" target="_blank">
                                            <img class="responsive-img" src="https://lorempixel.com/300/250/nature/1" alt="Serena">
                                            <span class="card-title">Serena</span>
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <p>Hand-delivered a bottle of Salt Lick BBQ sauce to the King of Norway.</p>
                                    </div>
                                </div>
                                
                                <div class="ADK-separator-1"></div>
                                
                                <div class="card" id="card1">
                                    <div class="card-image">
                                        <a href="https://www.linkedin.com/in/tamami-polk-566b75/" target="_blank">
                                            <img class="responsive-img" src="https://lorempixel.com/300/250/nature/1" alt="Tamami">
                                            <span class="card-title">Tamami</span>
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <p>Insert a story here.</p>
                                    </div>
                                </div>
                                
                                <div class="ADK-separator-1"></div>
                                
                                <div class="card" id="card2">
                                    <div class="card-image">
                                        <a href="https://www.linkedin.com/in/brian-lawrence-17a7049a/" target="_blank">
                                            <img class="responsive-img" src="https://lorempixel.com/300/250/nature/1" alt="Angel, Madison">
                                            <span class="card-title">Angel, Madison</span>
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <p>A professional death metal guitarist/butcher, now rocking web applications.</p>
                                    </div>
                                </div>

                                <div class="ADK-separator-1"></div>
                                
                                <div class="card" id="card3">
                                    <div class="card-image">
                                        <a href="https://www.linkedin.com/in/bernard-dzekashu/" target="_blank">
                                            <img class="responsive-img" src="https://lorempixel.com/300/250/nature/1" alt="Bernard">
                                            <span class="card-title">Bernard</span>
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <p>Insert a story here.</p>
                                    </div>
                                </div>
                                
                                <div class="ADK-separator-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>