<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Everyone has a story to tell. Hear them out.">
        <meta name="author" content="Serena, Tamami, Angel, Madison, Bernard">
        <title>A Different Kind</title>

<!--        <link rel="icon" type="image/png" href="../public/assets/images/ADK.png">-->
        <link rel="icon" type="image/png" href="/images/special.jpg">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Nunito" rel="stylesheet">
<!--        <link type="text/css" rel="stylesheet" href="../public/assets/css/materialize/materialize.min.css" media="screen,projection">-->
        <link type="text/css" rel="stylesheet" href="/assets/css/materialize/materialize.min.css" media="screen,projection">

        
<!--        <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">-->
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    </head>
    <body class="blue-grey lighten-5">
       
        <nav>
            <div class="nav-wrapper grey darken-4">
                <a href="/index" class="brand-logo">A Different Kind</a>

                <a href="#" data-activates="ADK-menu-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="ADK-dropdown-writer" class="dropdown-content">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>

                <ul class="right hide-on-med-and-down" id="ADK-menu-desktop">
                    <li><a class="ADK-menu-desktop-items" href="/index">Home</a></li>
                    <li><a class="ADK-menu-desktop-items" href="/compose:id">Your Story</a></li>
                    <li><a class="ADK-menu-mobile-items" id="menu-story" href="/story:id">Stories</a></li>
                    <li><a class="ADK-menu-mobile-items" href="/logout">Logout</a></li>
                </ul>
                
               
                <ul class="side-nav" id="ADK-menu-mobile">
                    <li class="black-text center-align">Bernard</li>
                    <li class="divider"></li>
                    <li><a class="ADK-menu-mobile-items" href="/index">Home</a></li>
                    <li class="green lighten-3"><a class="ADK-menu-mobile-items" href="/uploadpictures">Compose</a></li>
                    <li><a class="ADK-menu-mobile-items" href="/peers">Find peers</a></li>

                </ul>
            </div>
        </nav>
        <div class = "container">
            {{{body}}}
        </div>
 <div class="footer-copyright teal darken-1">
                <div class="container">
                    <div class="center-align">
                        Copyright © 2019 by <a class="lime-text text-lighten-4" href="https://www.linkedin.com/in/serenamallavarapu/" target="_blank">Serena</a>, <a class="lime-text text-lighten-4" href="https://www.linkedin.com/in/tamami-polk-566b75/" target="_blank">Tamami</a>, <a class="lime-text text-lighten-4" href="https://www.linkedin.com/in/angel-rivas-508024123/" target="_blank">Angel</a>, <a class="lime-text text-lighten-4" href="https://www.linkedin.com/in/brian-lawrence-17a7049a/" target="_blank">Madison</a>, <a class="lime-text text-lighten-4" href="https://www.linkedin.com/in/bernard-dzekashu/" target="_blank">Bernard</a>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!--        <script type="text/javascript" src="../public/assets/javascript/materialize/materialize.min.js"></script>-->
<!--        <script type="text/javascript" src="/assets/javascript/materialize/materialize.min.js"></script>-->



        <script type="text/javascript">
            function displayLogin() {
                $(".ADK-signup-wrapper").fadeOut(200);
                $(".ADK-login-wrapper").fadeIn(1000);
            }

            function displaySignup() {
                $(".ADK-login-wrapper").fadeOut(200);
                $(".ADK-signup-wrapper").fadeIn(1000);
            }

            $(document).ready(function() {
                displaySignup();

                
                $(".dropdown-button").dropdown();

                
                $(".button-collapse").sideNav();
            });
        </script>
        <script src="/js/login.js"></script>
<!--        <script src="/js/registration.js"></script>-->
        <script src="/js/compose.js"></script>

    </body>



</html>