<div class="container">
<div class="jumbotron">
    <h1 class="display-4">We're sorry to see you go!</h1>
    <br>
    <p class="lead">Your account has been successfully deleted.</p>
    <hr class="my-4">
    <p></p>
    <br>
    <a class="btn btn-primary btn-lg" href="#" role="button">Go to Home Page</a>
</div>
</div>