<div class="container">
            <div class="row ADK-signup-wrapper valign-wrapper">
                <div class="col s10 offset-s1 m8 offset-m2 l7 offset-l4 xl5 offset-xl4">
                    <div class="row">
                        <div class="col s10 offset-s1">
                            <!-- <h1 class="brand-logo ADK-attacher-1"><img class="responsive-img" src="../public/assets/images/ADK.png" alt="ADK logo">ADK</h1> -->
                            <p>Everyone deserves to have fun.</p>
                        </div>
                        <div id="reguser-error"></div>
                        <div class="col s10 offset-s1">
                            <form id="registration-form" name="registration-form" method="PUT">
                                <div class="input-field">
                                    <input type="text" name="fullname" placeholder="Fullname" id="ADK-fullname" class="validate" required>
                                </div>

                                <div class="input-field">
                                    <input type="text" name="email" placeholder="Email" id="ADK-email" class="validate" required>
                                </div>

                                <div class="input-field">
                                    <input type="text" name="username" placeholder="Username" id="ADK-username" class="validate" required>
                                </div>

                                <div class="input-field">
                                    <input type="password" name="password" placeholder="Password" id="ADK-password" class="validate" required>
                                </div>

                                <div class="ADK-separator-2"></div>

                                <button class="submit-button-100 btn-large waves-effect waves-light register" type="Submit">Sign up</button>
                            </form>

                            <div class="ADK-separator-2"></div>
                        </div>

                        <div class="col s10 offset-s1">
                            <a href="javascript:displayLogin();">Have an account? Log in</a>.

                            <div class="ADK-separator-3"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ADK-login-wrapper valign-wrapper">
                <div class="col s10 offset-s1 m8 offset-m2 l7 offset-l4 xl5 offset-xl4">
                    <div class="row">
                        <div class="col s10 offset-s1">
<!--                            <h1 class="brand-logo black-text ADK-attacher-1"><img class="responsive-img" src="../public/assets/images/ADK.png" alt="ADK logo">ADK</h1>-->
                            <p class="black-text">Everyone deserves to have fun.</p>
                        </div>
                        <div id="username-error"></div>
                        <div class="col s10 offset-s1">
                            <form id="ADK-form-login" name="ADK-form-login" method="POST">
                                <div class="input-field">
                                    <input type="text" name="username" id="login-username" placeholder="Username" class="validate" required>
                                </div>

                                <div class="input-field">
                                    <input type="password" name="password" id="login-password" placeholder="Password" class="validate" required>
                                </div>

                                <div class="ADK-separator-2"></div>

                                <button type="submit" class="login100-form-btn btn-large waves-effect waves-light" title="Click to log in.">Log in</button>
                            </form>

                            <div class="ADK-separator-2"></div>
                        </div>

                        <div class="col s10 offset-s1">
                            <a href="javascript:displaySignup();">Don't have an account? Sign up</a>.

                            <div class="ADK-separator-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/registration.js"></script>
