<div class="container">
<div class="jumbotron">
    <h1 class="display-4">Thank You For Posting!</h1>
    <br>
    <p class="lead">We are excited that you're sharing your story!</p>
    <hr class="my-4">
    <p></p>
    <br>
    <a class="btn btn-primary btn-lg" href="#" role="button">Go to Stories</a>
</div>
</div>