<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Registration Form</h2>
                <form method="POST">
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">User Name</label>
                                <input class="input--style-4" type="text" id="new-username" name="username" required>
                            </div>
                        </div>
                    </div>

                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">First Name</label>
                                <input class="input--style-4" type="text" id="new-first" name="first" required>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                    <div class="col-12">
                            <div class="input-group">
                                <label class="label">Last Name</label>
                                <input class="input--style-4" type="text" id="new-last" name="last" required>
                            </div>
                        </div>
                    </div>

                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="email" id="new-email" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                    <div class="col-12">
                            <div class="input-group">
                                <label class="label">Phone Number</label>
                                <input class="input--style-4" type="text" id="phone" name="phone">
                            </div>
                        </div>
                    </div>


                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">Password</label>
                                <input class="input--style-4" type="password" id="new-password" name="password" required>
                            </div>
                        </div>
                    </div>

<!--                    <div class="col-12">-->
<!--                        <div class="input-group">-->
<!--                            <label class="label">Confirm Password</label>-->
<!--                            <input class="input--style-4" type="text" id="new-confirm-password" name="confirm"-->
<!--                                   aria-required="true">-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue register" type="submit">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


                
