       <div class="container">
            <div class="ADK-separator-3"></div>
            
            <div class="row">
                <div class="col s10 offset-s1 l12">
                    <h1 class="ADK-attacher-1">Settings</h1>
                </div>
            </div>

            <div class="row">
                <div class="col s10 offset-s1 l6">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12 m10 offset-m1">
                                    <h2>Update profile</h2>
                                    
                                    <div class="ADK-separator-2"></div>

                                    <form action="/api/update-profile/INSERT_UUID_HERE?_method=PATCH" method="POST">
                                        <div class="input-field">
                                            <input type="text" name="fullname" id="ADK-fullname" class="validate" placeholder="Full Name" required>
                                        </div>

                                        <div class="input-field">
                                            <input type="text" name="email" id="ADK-email" class="validate" placeholder="Valid Email" required>
                                        </div>

                                        <div class="input-field">
                                            <input type="text" name="username" id="ADK-username" class="validate" placeholder="Username" required>
                                        </div>

                                        <div class="ADK-separator-2"></div>

                                        <button type="submit" class="btn-large waves-effect waves-light" title="Click to update.">Update</button>
                                    </form>

                                    <div class="ADK-separator-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col s10 offset-s1 l6">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12 m10 offset-m1">
                                    <h2>Update password</h2>
                                    
                                    <div class="ADK-separator-2"></div>

                                    <form action="/api/update-password/INSERT_UUID_HERE?_method=PATCH" method="POST">
                                        <div class="input-field">
                                            <input type="password" name="password_current" id="ADK-current-password" class="validate" placeholder="Current Password" required>
                                        </div>

                                        <div class="input-field">
                                            <input type="password" name="password_new" id="ADK-new-password" class="validate" placeholder="New Password" required>
                                        </div>

                                        <div class="ADK-separator-2"></div>

                                        <button type="submit" class="btn-large waves-effect waves-light" title="Click to update.">Update</button>
                                    </form>

                                    <div class="ADK-separator-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{!-- <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12 m10 offset-m1">
                                    <h2>Delete ADK account</h2>
                                    
                                    <div class="ADK-separator-3"></div>
                                    
                                    <form action="/api/delete-account/INSERT_UUID_HERE?_method=DELETE" method="POST">
                                        <button type="submit" class="btn-large waves-effect waves-light red darken-2" title="Click to delete ADK account.">Delete ADK account</button>
                                    </form>

                                    <div class="ADK-separator-3"></div>
                                </div>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>

            <div class="ADK-separator-3"></div>
        </div>
