<div class="container">
                <div class="ADK-separator-3"></div>
                <div class="row">
                        {{#each story}}
                        <div class="col s4 m4 x30">
                                <div class="card" id="card0">
                                        <div class="story-content">
                                            <p>{{title}}</p>
                                            <p>{{mystory}}</p>
                                        </div>
                                        <hr>
                                        <div class = "story-email">{{email}}</div>
                                </div>
                        </div>
                        {{/each}}
        
                </div>

        <div class="ADK-separator-3"></div>
        </div>