<div class="container">
                <div class="ADK-separator-3"></div>
                <div class="row">
                        <div class="col s4 m4 x30">
                                <div class="card" id="card0">
                                        <div class="story-content">
                                            <p>I am a very simple card. I am good at containing small bits of information.
                                            </p>
                                        </div>
                                        <hr>
                                        <div class = "story-email">Email</div>
                                </div>
                        </div>
                        <div class="col s4 m4 x30">
                                <div class="card" id="card0">
                                        <div class="story-content">
                                            <p>I am a very simple card. I am good at containing small bits of information.
                                            </p>
                                        </div>
                                        <hr>
                                        <div class = "story-email">Email</div>
                                </div>
                        </div>
                        <div class="col s4 m4 x30">
                                <div class="card" id="card0">
                                        <div class="story-content">
                                            <p>I am a very simple card. I am good at containing small bits of information.
                                            </p>
                                        </div>
                                        <hr>
                                        <div class = "story-email">Email</div>
                                </div>
                        </div>
        
                </div>
                <div class="row">
                        <div class="col s4 m4 x30">
                                <div class="card" id="card0">
                                        <div class="story-content">
                                            <p>I am a very simple card. I am good at containing small bits of information.
                                            </p>
                                        </div>
                                        <hr>
                                        <div class = "story-email">Email</div>
                                </div>
                        </div>
                        <div class="col s4 m4 x30">
                                <div class="card" id="card0">
                                        <div class="story-content">
                                            <p>I am a very simple card. I am good at containing small bits of information.
                                            </p>
                                        </div>
                                        <hr>
                                        <div class = "story-email">Email</div>
                                </div>
                        </div>
                        <div class="col s4 m4 x30">
                                <div class="card" id="card0">
                                        <div class="story-content">
                                            <p>I am a very simple card. I am good at containing small bits of information.
                                            </p>
                                        </div>
                                        <hr>
                                        <div class = "story-email">Email</div>
                                </div>
                        </div>
        
                </div>
        <div class="ADK-separator-3"></div>
        </div>