
<div class="jumbotron">
    <h1 class="display-4">Thank You For Registering!</h1>
    <p class="lead">We are excited for you to be part of the community</p>
    <hr class="my-4">
    <p></p>
    <a class="btn-thankyou btn btn-primary btn-lg" href="/compose" role="button">Tell Us Your Story</a>

<br><br>
</div>
